<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"

    ExpiresByType image/png "access plus 2 months"
    ExpiresByType image/svg "access plus 2 months"
</IfModule>