<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>$title$</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/syntax.css"></head>
<body>

<div id="sidebar"><img src="/files/head.png" alt="Logo" align="right"></div>
<div id="content">
<table cellpadding="3" cellspacing="3"><tbody><tr> 
<td class="cl"> $if(newsHighlight)$ <strong>NEWS</strong> $else$ <a href="/" target="_parent">NEWS</a> $endif$</td>
<td class="cl"> $if(articlesHighlight)$ <strong>ARTiCLES</strong> $else$ <a href="/doc/" target="_parent">ARTiCLES</a> $endif$</td>
<td class="cl"> $if(passgenHighlight)$ <strong>PASSGENS</strong> $else$ <a href="/passgen/" target="_parent">PASSGENS</a> $endif$</td>
<td class="cl"> $if(archiveHighlight)$ <strong>ARCHiVE</strong> $else$ <a href="/archive.html" target="_parent">ARCHiVE</a> $endif$</td>
<td class="cl"> $if(aboutHighlight)$ <strong>ABOUT</strong> $else$ <a href="/about.html" target="_parent">ABOUT</a> $endif$</td>
</tr></tbody></table>

            $body$
<hr>
<a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="/files/valid_css.png" alt="Valid CSS" border="0" align="right"></a><a href="http://validator.w3.org/check?uri=referer"><img src="/files/valid_html.png" alt="Valid HTML" border="0" align="right"></a>
</div></body></html>



